.face {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.cube-top {
  top: -5px;
  left: 10%;
  transform: rotateX(12deg) rotateY(5deg);
}

.cube-left {
  bottom: -35px;
  right: 70%;
  transform: rotateX(12deg) rotateY(4deg);
}

.cube-right {
  top: -35px;
  left: 80%;
  transform: rotateX(10deg) rotateY(6deg);
}

.face.front {
  transform: translateZ(40px);
}
.face.back {
  transform: rotateY(180deg) translateZ(40px);
}
.face.top {
  transform: rotateX(90deg) translateZ(40px);
}
.face.bottom {
  transform: rotateX(-90deg) translateZ(40px);
}
.face.left {
  transform: rotateY(-90deg) translateZ(40px);
}
.face.right {
  transform: rotateY(90deg) translateZ(40px);
}
