.face {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.face.front {
  transform: translateZ(40px);
}
.face.back {
  transform: rotateY(180deg) translateZ(40px);
}
.face.top {
  transform: rotateX(90deg) translateZ(40px);
}
.face.bottom {
  transform: rotateX(-90deg) translateZ(40px);
}
.face.left {
  transform: rotateY(-90deg) translateZ(40px);
}
.face.right {
  transform: rotateY(90deg) translateZ(40px);
}
