@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #edeff2;
  --foreground: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #312f2e;
    --background: #92736b;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.75;
  overflow: auto;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
